.container {
  grid-column: 1 / 4;
  grid-row: 5 / 7;
  overflow: auto;
  width: 100%;

  align-items: center;
}

.error {
  color: red;
}

.table {
  thead th {
    position: sticky;
    top: -1px;
    z-index: 20;
    background-color: white;
    
  }


}