.container {
  grid-column: 1 / 3;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: auto;
  width: 600px;
}

.button {
  border: 1px solid lightgrey;
}